footer {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 0.5rem; 
    text-align: center;
    font-size: 1rem; 
    font-family: var(--secondary-font);
    margin-top: 2rem;
}

footer h5 {
    font-size: 3rem; /* Reducir el tamaño del título */
    margin-bottom: 0.5rem; /* Reducir el margen inferior del título */
}

.btn-final {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    gap: 1rem; 
    padding: 0.3rem 0.8rem; 
    font-size: 0.9rem;
}