:root {
--primary-font: 'Asap', sans-serif;
--secondary-font: 'Old Standard TT', serif;
--primary-color: rgb(35, 222, 75);
--secondary-color: rgb(19, 76, 23);
--background-color: rgb(228, 231, 223);
--tertiary-color: rgb(247, 247, 247);
--font-siza: 1.5rem;
--font-size-small: 1rem;
--gap: 3rem;
}
body {
font-family: var(--primary-font);
font-size: var(--font-siza);
}
img{
    display: block;
    width: 100%;
    height: auto;
}
