body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#plantas {
    max-width: 78.125rem;
    margin: 0 auto ;
    padding: 1.25rem;
    .grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.25rem;
    }
}
article{
    text-align: center;
    border-radius: 0.625rem solid var(--secondary-color);
}
img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1.875rem;
   
  }
main h3 {
    font-weight: bold;
    font-size: 1.8rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;

}
.grid button {
    background-color: var(--secondary-color);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}
figure img {
height: 26.6875rem;
object-fit: cover;

}
.flex {
    display: flex;
    justify-content: space-around;  
}

/* Estilo del carrito */
#cart {
    margin: 1.25rem;
    padding: 1.25rem;
    border: 0.0625rem solid rgb(221, 221, 221);
    border-radius: 0.5rem;
    background-color: var(--background-color);
}

.cart-items {
    margin: 0.625rem 0;
    max-height: 12.5rem;
    overflow-y: auto;
    padding: 0.625rem;
    border: 0.0625rem solid rgb(221, 221, 221);
    background-color: rgb(249, 249, 249);
    border-radius: 0.5rem;
}

.cart-items .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    margin-bottom: 0.625rem;
    border-bottom: 0.0625rem solid rgb(221, 221, 221);
}

.cart-items .cart-item img {
    width: 3.125rem;
    height: 3.125rem;
    object-fit: cover;
    border-radius: 0.3125rem;
}

.cart-items .cart-item button {
    background-color: rgb(220, 53, 69);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    padding: 0.3125rem 0.625rem;
    font-size: 0.8rem;
}

.cart-items .cart-item button:hover {
    background-color: #c82333;
}

/* Botones adicionales */
#vaciarCarrito {
    margin-top: 0.625rem;
    background-color: rgb(220, 53, 69);
    color: rgb(255, 255, 255);
    border: none;
    padding: 0.625rem 0.9375rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

#vaciarCarrito:hover {
    background-color: rgb(200, 35, 51);
}
