@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=Athiti:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wdth,wght@0,75..125,100..900;1,75..125,100..900&family=Old+Standard+TT&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css');
@import url(layout.css);
@import url(header.css);
@import url(main.css);
@import url(footer.css);



.btn-final{
    background-color: var(--primary-color);
    color: #fff;
    gap: 1.5rem;
   
}
.btn-fina2{
    background-color: var(--primary-color);
    color: #fff;
    gap: 1.5rem;
   
}


@media(min-width: 768px) {
    #plantas .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1004px) {
    #plantas .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}